.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
yarn.lock
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/src/*.js
/e2e/src/*.map
/cypress/screenshots
